.genres {
  text-align: center;
  color: white;
  width: 90vw;
  position: relative;
  left: 7%;
  margin-top: 3rem;
  /*border: 1px solid white;*/
}
.mobile-genres {
  text-align: center;
  color: white;
  width: 90vw;
  position: relative;
  left: 8%;
  margin-top: calc(0.01 * 100vh);
}
.genres-carousel {
  height: 150px;
  width: 100%;
  background-color: transparent;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  /*border: 1px solid white;*/
}

.individual-card {
  margin: 10px 10px;
  cursor: pointer;
  height: 120px;
}

.individual-card:hover {
  transform: scale(1.18);
  transition: 0.3s ease;
  z-index: 999;
}
