.genres {
  text-align: center;
  color: white;
  width: 90vw;
  position: relative;
  left: 7%;
  margin-top: 3rem;
}
.mobile-genres {
  text-align: center;
  color: white;
  width: 90vw;
  height: 15vh;
  position: relative;
  left: 8%;
  margin: 2vh 0;
  display: flex;
  align-items: center;
}
.genres-carousel {
  height: 100%;
  width: 100%;
  background-color: transparent;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.individual-card {
  margin: 0px 10px;
  cursor: pointer;
  height: 100%;
}

.mobile-individual-card{
  margin: 0 5px;
  cursor: pointer;
  height: 15vh;
}

.mobile-individual-card img{
  width: 100%;
  height: 100%;
}


.individual-card  img{
  height: 100%;
}

.individual-card:hover {
  transform: scale(1.15);
  transition: 0.3s ease;
  z-index: 999;
}
