.letest-release {
  width: 90vw;
  height: 45vh;
  position: relative;
  left: 8%;
  margin-top: calc(0.04 * 100vh);
  overflow: visible;
  margin-bottom: 10vh; /* Allow overflow */
  /* border: 1px solid white; */
}

.letest-mobile-release {
  width: 99%;
  position: relative;
  left: 4%;
  margin: calc(0.01 * 80vh) 0 calc(0.1 * 50vh) 0;
  overflow: hidden; /* Allow overflow */
}

.heading {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 10px;
  height: 30px;
  margin-top: 0;
  overflow: visible;
}

.heading-title {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.2px;
  line-height: 28px;
  margin-top: 0px;
  text-transform: capitalize;
  z-index: 0;
  overflow: visible;
}

.heading-button {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: hsla(0, 0%, 100%, 0.6);
  display: none;
  margin-top: -10px;
}
.heading:hover .heading-button {
  display: block;
}

.heading-button p:hover {
  transform: scale(1.05);
  color: #ffffff;
}
.potraitcarousal {
  height: 70%;
  width: 100%;
  /* background-color: rgb(12, 12, 12); */
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: calc(0.01 * 100vh);
  overflow: visible;
  z-index: 0;
  /* border: 5px solid rgb(0, 255, 238); */
}

.mobile-potraitcarousal {
  height: 30vh;
  width: 90vw;
  background-color: rgb(12, 12, 12);
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: calc(0.01 * 100vh);
  overflow: visible;
}

.control-dots {
  display: none;
}

.individual-show {
  height: 180px;
  margin: 10px;
  position: relative;
  transition: transform 0.3s ease-out, height 0.3s ease, width 0.2s ease;
  z-index: 0;
  overflow: visible;

}

.indi-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.individual-show:hover .indi-img {
  width: 100%;
  height: 55%;
  border-radius: 10px;
  object-fit: fill;
}

.indi-text-content {
  display: none;
}

.individual-show:hover .indi-text-content {
  display: block;
}

.indi-show-home-watch-now {
  width: 60%;
  height: 15%;
  border-radius: 5px;
  border: none;
  margin: 5px;
  color: #000000;
}

.indi-show-home-text {
  color: white;
  font-size: 12px;
  text-align: left;
  margin: 5px;
  height: 20%;
}

.indi-show-home-keywords {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  height: 10%;
  font-size: 16px;
  margin-top: 5px;
}

.individual-show:hover {
  transform: scale(1.1);
  height: 280px;
  width: 250px;
  overflow: visible;
  border-radius: 10px;
  background : linear-gradient(to top , #000,#262626, #3c3939)
  ;
  position: relative;
  top: 0%;
  left: 0%;
  z-index: 9999;
  opacity: 1;

}

.letest-release,
.letest-mobile-release {
  overflow: visible;
}

.mobile-individual-show {
  width: 20vw;
  height: 100%;
  padding: calc(0.005 * 100vh);
}

.mobile-individual-show img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


