
.all-content-page{
    width: 100vw;
    height: auto;
    background:linear-gradient(180deg,#16181f,#0f1014 33.33%);
}

.all-content-heading{
    /* border: 1px solid wheat; */
    height: 100px;
    width: 90%;
    margin-left: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 40px;
    font-weight: 600;
    text-shadow: 1px 1px rgba(112, 112, 112, 0.495); 
}

.all-content{
    /* border: 1px solid red; */
    width: 90%;
    height: auto;
    margin-left: 7%;
    padding: 10px;
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px -10px;
}

.all-content-shows{
    width: 180px;
    height: 200px;
    cursor: pointer;
    /* border: 1px solid lime; */
}

.all-content-show-visible{
    display: block;
    
}

.all-content-show-hidden{
    display: none;
    /* border: 1px solid wheat; */
    color: white
}

.all-content-button-group{
    height: 30px;
    display: flex;
    justify-content: space-between;
    margin: 0 5px;
}
.all-content-button-1{
    width: 75%;
    border-radius: 5px;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
}
.all-content-button-1:hover{
    transform: scale(1.05);
}
.all-content-button-2{
    width: 15%;
    border-radius: 5px;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
}

.all-content-show-hidden p{
    font-size: 10px;
    word-wrap: normal;
    font-weight: 400;
    margin-top: 10px;
}
.all-content-shows:hover{
    z-index: 100;
    transition: 0.2 sec ease-in-out;
    transform: scale3d(1.4,1.4,1) perspective(500px);
    backdrop-filter: blur(50px);
}

.all-content-shows:hover .all-content-show-visible{
    display: none;
}

.all-content-shows:hover .all-content-show-hidden{
    display: block;
}