.loginuser {
  width: 100vw;
  height: 100vh;
  padding: 0 0 2vh 0 ;
  color: white;
  /* border: 1px solid white; */
}

.mobile-loginuser{
    width: 100vw;
    min-height: 60vh;
    padding: 0 0 2vh 0 ;
    color: white;
}

.help-and-support-btn{
    position: absolute;
    top: 10vh;
    right: 5vw;
    width: 20vw;
    height: 50px;
    border-radius: 10px;
}

.mobile-help-and-support-btn{
    position: absolute;
    top: 5vh;
    right: 1vw;
    width: 30vw;
    height: 40px;
    border-radius: 6%;
}

.help-and-support-btn button {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color:  hsla(0, 0%, 100%, 0.1);
    color: white;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: "Inter",sans-serif;
    cursor: pointer;
    border: none;
}

.mobile-help-and-support-btn button{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color:  hsla(0, 0%, 100%, 0.1);
    color: white;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: "Inter",sans-serif;
    cursor: pointer;
    border: none;
}


.help-and-support-btn button:hover{
    transform: scale(1.02);
    transition: 0.5s ease;
    background-color:  hsla(0, 0%, 100%, 0.33);
}

.loginuser img{
    position: relative;
    top: 15vh;
    width: 60%;
    height: auto;
}

.mobile-loginuser img{
    position: relative;
    top: 15vh;
    width: 60%;
    height: auto;
} 


.loginuser-login-section{
    position: relative;
    top: 8vh;
}
.mobile-loginuser-login-section{
    position: relative;
    top: 12vh;
}

.loginuser-login-section h6 , .mobile-loginuser-login-section h6{
    font-size:24px;
    font-weight: 600;
    letter-spacing:-0.2px;
    line-height: 32px;
    margin-bottom: 8px;
}

.loginuser-login-section p , .mobile-loginuser-login-section p{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #8f98b2;
}

.loginuser-login-section button {
    width: 230px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-image:linear-gradient(120deg,rgb(56, 56, 189),rgb(3, 3, 90));
    color: white;
    font-size: 16px;
    font-weight:600;
    line-height: 24px;
    cursor: pointer;
}

.mobile-loginuser-login-section button {
    width: 230px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-image:linear-gradient(120deg,rgb(56, 56, 189),rgb(3, 3, 90));
    color: white;
    font-size: 16px;
    font-weight:600;
    line-height: 24px;
    cursor: pointer;
    margin: 2% 0%;
}