.loginuser {
  width: 100%;
  height: 100%;
  margin: 2% 2%;
  /*border: 1px solid white;*/
  color: white;
}

.help-and-support-btn{
    position: absolute;
    top: 10%;
    right: 5%;
    width: 230px;
    height: 50px;
    border-radius: 10px;
}

.help-and-support-btn button{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color:  hsla(0, 0%, 100%, 0.1);
    color: white;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: "Inter",sans-serif;
    cursor: pointer;
    border: none;
}

.help-and-support-btn button:hover{
    transform: scale(1.02);
    transition: 0.5s ease;
    background-color:  hsla(0, 0%, 100%, 0.33);
}

.loginuser img{
    position: relative;
    top: 15%;
}

.loginuser-login-section{
    position: relative;
    top: 12%;
}

.loginuser-login-section h6{
    font-size:24px;
    font-weight: 600;
    letter-spacing:-0.2px;
    line-height: 32px;
    margin-bottom: 8px;
}

.loginuser-login-section p{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #8f98b2;
}

.loginuser-login-section button{
    width: 230px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-image:linear-gradient(120deg,rgb(56, 56, 189),rgb(3, 3, 90));
    color: white;
    font-size: 16px;
    font-weight:600;
    line-height: 24px;
    cursor: pointer;
}