.subscription {
   width: 100vw;
   height: 100vh;
   background-color: black;
}

.subscription-heading{
  /* position: -webkit-sticky; */
  position: sticky;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  z-index: 999;
  padding: calc(0.01*100vh) 0px;
  border: 1px solid white;
}

.left-section {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.back-button {
  width: 5vw;
  height: 8vh;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
}

.logo-section {
  width: 40%;
}

.logo-section img {
  width: 50%;
  margin-right: 0px;
}
/* CSS for right-section when user is unloged in */
.right-section-unloged {
  width: 40vw;
  height: 100%;
  margin-right: 4%;
  display: flex;
  justify-content:flex-end;
  align-items: center;
  gap: 10%;
  padding: 0 calc(0.01*100vw);
  border: 1px solid white;
}

.language-dropdown {
  width: 100%; /* Change width to 100% */
  max-width: 200px; /* Limit the maximum width to 200px */
  height: auto; /* Allow height to adjust based on content */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: medium; /* Adjust font size for smaller screens */
  font-weight: 700;
  margin-left: auto; /* Move the dropdown to the right on smaller screens */
  margin-right: auto; /* Move the dropdown to the right on smaller screens */
}

#languages {
  width: 100%; /* Make the dropdown width 100% */
  max-width: 200px; /* Limit the maximum width to 200px */
  height: 40px; /* Set a fixed height for the dropdown */
  color: white;
  border-radius: 10px;
  border: none;
  text-align: center;
  background-color: #4848509b;
}


.Login-btn {
  width: 120px;
  height: 50px;
  margin-right: 5%;
  color: white;
  border-radius: 10px;
  font-size: large;
  font-weight: 700;
  border: none;
  cursor: pointer;
  text-align: center;
  background-image: linear-gradient(100deg, #3c63b0, #03307e);
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-Login-btn {
  width: 15vw;
  height: 30px;
  /* margin-right: 5%; */
  color: white;
  border-radius: 10px;
  font-size: x-small;
  font-weight: 400;
  border: none;
  cursor: pointer;
  text-align: center;
  background-image: linear-gradient(100deg, #3c63b0, #03307e);
  display: flex;
  justify-content: center;
  align-items: center;
}



/* CSS for right-section when user is loged in */
.right-section-loged {
  width: 30%;
  height: 18vh;
  margin-right: 5%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.right-section-loged .Login-btn {
  display: none;
}
