
.logo{
    position: fixed;
    top: 4%;
    left: 1.8%;
    cursor: pointer;
}



.sidebar{
    width: 50px;
    height: 70vh;
    position: fixed;
    top: 14%;
    left: 3%;
   /* border: 1px solid white;*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: width 0.3s ease;
    /*background-color: rgba(255, 255,255,0.2);*/
    z-index: 10;
    padding: 2.5rem 0;
    font-family: "Inter",sans-serif;
    transition: backdrop-filter 0.2s;
}

.sidebar:hover{
    width: 150px;
    transition: all 0.8s ease; 
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(1.8px);
}

.sidebar:hover .sidebar-option-name{
    display: block;
}


.individual-icon {
    /*border: 1px solid white;*/
    width: 90%;
    height: 45px;
    color: #e1e6f0;
    display:flex;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
    transition: backdrop-filter 0.3s;
}
.individual-icon:hover{
    transform: scale(1.1);
    font-weight: 900;
    
}

.sidebar-option-name{
    display: none;
    color: hsla(0, 22%, 90%, 0.962);
    font-size: 16px;
    font-weight: 600;
    line-height:24px;
    //padding: 12px 0px;
    box-sizing: border-box;
    white-space: nowrap;

}




