.edit-profile-page{
    width: 100vw;
    height: 100vh;
    background-image:linear-gradient(180deg,#16181f,#0f1014 33.33%);
    color: #fff;
    text-align: center;
}

.edit-profile{
    width: 30%;
    height: 70%;
    position: relative;
    top: 15%;
    left: 35%;
    border: 1px solid honeydew;
}