.main-footer{
    width: 90vw;
    margin-top: 5%;
    margin-left: 8%;
    color: white;
    background-color: transparent;
}

.footer{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.footer div{
    width: 25%;
    text-align: left;
    font-size: 12px;
    font-weight: 300;
}

.footer-support{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.left{
    display: block;
    width: 50%;
    margin-left: 4%;
    margin-top: 2%;
    
}
.left p{
    text-align: left;
}

.left-bottom{
    width: 40%;
    display: flex;
    justify-content: space-between;
   
}

.right{
    margin-right: 5%;
    margin-top: 2%;
}

.right img{
    width: 150px;
    height: auto;
}