.main-footer{
    width: 90vw;
    margin-top: calc(0.08*100vh);
    margin-left: 8%;
    color: white;
    background-color: transparent;
}

.main-mobile-footer{
    width: 95vw;
    margin-top: 4vh;
    margin-left: 5%;
    padding-bottom: 15vh;
    color: white;
    background-color: transparent;
}

.footer{
    display: flex;
    justify-content: space-evenly;
    width: 95%;
    margin-left: 2.5%;
}

.mobile-footer{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left: 5%;
}

.footer div{
    width: 25%;
    text-align: left;
    font-size: 12px;
    font-weight: 300;
}

.mobile-company, .mobile-need-help , .mobile-connect-with-us{
    width: 20%;
    font-size: 10px;
}

.mobile-view-website-in{
    width: 25%;
    font-size: 10px;
}




.footer-support{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.mobile-footer-support{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}
.left{
    display: block;
    width: 50%;
    margin-left: 4%;
    margin-top: 2%;
    
}
.left p{
    text-align: left;
}

.left-bottom{
    width: 40%;
    display: flex;
    justify-content: space-between;
   
}

.right{
    margin-right: 5%;
    margin-top: 2%;
}

.right img{
    width: 150px;
    height: auto;
}