.searchpage {
  background: linear-gradient(180deg, #16181f, #000000 13.33%);
  width: 100vw;
  min-height: 100vh;
  color: #e1e6f0;
}
.mobile-searchpage {
  background: linear-gradient(180deg, #16181f, #0f1014 33.33%);
  width: 100vw;
  min-height: 60vh;
  color: #e1e6f0;
}

.searchpage-content {
  width: 85vw;
  height: 70px;
  padding: 0 30px;
  margin-bottom: 5%;
  border: none;
  position: relative;
  top: calc(0.03 * 100vw);
  left: 8%;
  display: flex;
  align-items: center;
  background-color: hsla(0, 0%, 100%, 0.1);
  border: 1px solid white;
  border-radius: 8px;
}

.mobile-searchpage-content {
  width: 85vw;
  height: 70px;
  padding: 0 30px;
  margin-bottom: 5%;
  border: none;
  position: relative;
  top: 0%;
  left: 8%;
  display: flex;
  align-items: center;
  background-color: hsla(0, 0%, 100%, 0.1);
  border: 1px solid white;
  border-radius: 8px;
}

.searchpage-icon {
  width: 5%;
  height: auto;
}

.searchpage-input {
  width: 85%;
}

#searchpage-input {
  background-color: transparent;
  border-width: 0;
  color: #e1e6f0;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  outline: 2px solid transparent;
  outline-offset: 2px;
  padding: 12px 8px;
  transform: translateZ(0);
  width: 70%;
  z-index: 2;
  margin-left: 20px;
}

.search-page-remove-text-button {
  width: 10%;
  text-align: right;
  background-color: transparent;
  cursor: pointer;
}

.search-page-remove-text-button-hidden {
  position: absolute;
  top: 9%;
  right: 8%;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

.search-page-content {
  width: 85vw;
  height: auto;
  position: relative;
  left: 7%;
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  row-gap: 15px;
  padding: 15px 0px;
}

.search-page-mobile-content {
  width: 90vw;
  height: auto;
  position: relative;
  left: 5%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: calc(0.03 * 100vw);
  padding: 5px 0px;
}

.search-page-individual-show {
  width: calc(0.15 * 100vw);
  height: calc(0.35 * 100vh);
  border-radius: 8px;
}
.search-page-individual-show img {
  border-radius: 8px;
}

.search-page-mobile-individual-show {
  width: calc(0.2 * 100vw);
  height: calc(0.2 * 100vh);
  /* border: 0.5px solid white; */
  border-radius: 8px;
}

.search-page-mobile-individual-show img {
  border-radius: 8px;
}

.movie-container {
  height: min-content;
}

.mobile-movie-container {
  height: auto;
  padding: 0;
}
