.details-page {
  width: 100vw;
  height: 100vh;
}

.details-page-bg {
  width: 100%;
  height: 100%;
}

.movie-title {
  position: fixed;
  top: 25%;
  left: 10%;
  color: white;
  width: 30%;
  height: 20%;
  font-size: 60px;
  inline-size: auto;
  font-weight: 700;
  text-align: center;
  display: flex;
  align-items: center;
}

.movie-description {
  color: white;
  position: fixed;
  top: 52%;
  left: 10%;
  font-size: large;
  width: 30%;
}

.rigid-content {
  color: white;
  position: fixed;
  top: 45%;
  left: 9%;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 20px;
  font-weight: 500;
  gap: 10px;
}

.dots {
  position: absolute;
  bottom: 30%;
}

.u-a {
  background-color: rgba(6, 6, 6, 0);
  padding: 2px;
  border-radius: 10%;
}
.keywords {
  color: white;
  position: fixed;
  top: 62%;
  left: 10%;
  width: 20%;
  height: 5%;
  display: flex;
  justify-content: flex-start;
  gap: 4%;
  font-size: large;
  font-weight: 600;
}

.btn-group {
  position: fixed;
  top: 70%;
  left: 10%;
  display: flex;
  width: 35%;
  height: 10%;
  gap: 5%;
}

.link-div {
  width: 80%;
}

.watch-btn {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: large;
  font-weight: 600;
  cursor: pointer;
  border-radius: 10px;
}

.watch-btn button {
  width: 100%;
}
.watch-btn:hover {
  transform: scale(1.02);
}
.add-to-watchlist-btn {
  width: 12%;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  font-size: 40px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.add-to-watchlist-btn:hover {
  transform: scale(1.05);
  background-color: rgba(255, 255, 255, 0.1);
}

.mobile-movie-description {
  display: none;
}

.mobile-details-page {
  width: 99%;
  height: 90vh;
  margin: 0 0.5%;
  /* border: 1px solid red; */
}

.mobile-details-page-bg {
  width: 100%;
  height: 60%;
  /* border: 1px solid white; */
}

.mobile-movie-title {
  position: relative;
  top: 1vh;
  left: 5vw;
  width: 90vw;
  height: 10vh;
  text-align: center;
  font-size: 200%;
  line-height: 5vh;
  text-shadow: 1px 1px 2px #09979972, 2px 2px 4px #b1c709;
  /* border: 1px solid white; */
}

.mobile-rigid-content {
  position: relative;
  top:3vh;
  left: 5vw;
  width: 90vw;
  text-align: center;
  font-size: 4vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.mobile-keywords {
  position: relative;
  top: 4vh;
  left: 5vw;
  width: 90vw;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 0 8vw;
  font-size: max(2vh, 2vw);
}

.mobile-btn-group {
  position: relative;
  top: 8vh;
  left: 20vw;
  width: 50%;
  height: 8vh;
  display: flex;
  justify-content: center;
  gap: 0 20%;
}

.mobile-watch-btn {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4vw;
  font-weight: 400;
  cursor: pointer;
  border-radius: 10px;
  background-color: rgba(128, 128, 128, 0.489);
  color: white;
  border: none;
}
