.search-page-not-found-content{
    width: 85%;
    height: 80%;
    color: white;
    font-size: 25px;
    background:linear-gradient(180deg,#16181f,#0f1014 33.33%);
    position: absolute;
    left:8%; 
    text-align: center;  
    font-size: 18px;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 24px;
}

.search-page-not-found-content p{
    color: #8F98B2;
}

