.language {
  text-align: center;
  color: white;
  width: 90vw;
  position: relative;
  left: 7%;
  margin-top: 2vh;
  padding: 2vh 0;
  overflow: visible;
  /* border: 1px solid white; */
}

.mobile-language {
  text-align: center;
  color: white;
  width: 95vw;
  height: 15vh;
  position: relative;
  left: 2%;
  margin: 2vh 0;
}

.lanaguage-carousel {
  height:100%;
  width: 100%;
  background: linear-gradient(180deg, #16181f, #0f1014 33.33%);
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.individual-card {
  margin: 0px 10px;
  cursor: pointer;
  height: 100%;
}

.mobile-individual-card{
  margin: 0 5px;
  cursor: pointer;
  height: 15vh;
}

.individual-card  img{
  height: 100%;
}

.individual-card:hover {
  transform: scale(1.15);
  transition: 0.3s ease-in-out;
  z-index: 9;
}
