@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  height: auto;
  background-color: black;
  background-position: center;
  background-size: cover;
  color: white;
  z-index: -50;
  overflow: visible;
}

.toast-container{
  width: 30vw;
}
