.special-carousel {
  width: 90%;
  height:120px;
  margin: calc(0.08*100vh) 0 0 6%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.special-mobile-carousel{
  width: 90vw;
  height: 20%;
  display: grid;
  margin: 2vh 0 4vh 6%;
  grid-template-columns: repeat(3, 1fr); 
  padding: 1vh 1vw;
}

.individual-category {
  width: 15%;
  height: 80%;
}

.individual-mobile-category{
  width: 25vw;
  padding: 1% 1%;
  height: 45%;
}

.individual-category img , .individual-mobile-category img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.individual-category video , .individual-mobile-category video {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
.individual-category:hover {
  transform: scale(1.15);
  transition: 0.3s ease-out;
}
